<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.locatus" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Locatus</name>
    <description>
        Anytime, Anyplace
    </description>
    <author email="bgartner0927@conestogac.on.ca" href="bgartner0927@conestogac.on.ca">
        Brody Gartner and Emily De Leon
    </author>
    <content src="login.html"/>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>

    <icon src="locatusIcon.png" />
    <splash src="LocatusSplash.png" />

</widget>
